# yaml-language-server: $schema=https://www.schemastore.org/github-workflow.json
---
name: autofix.ci

on:
  push: { branches: ["master"] }
  pull_request:
  workflow_call:

permissions: { contents: read }

jobs:
  autofix:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ./

      - name: install shfmt
        run: sudo apt -y install shfmt

      - run: dprint config update
      - run: dprint fmt --allow-no-files --diff --excludes ".github"

      - uses: autofix-ci/action@v1
